@model IEnumerable<Storefront.DATA.EF.Models.RecordOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecordId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecordId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.CustomerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecordOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecordOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecordOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
