@model Storefront.DATA.EF.Models.Record

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <dl class="dl-horizontal cute-card">
        <dt>
            @Html.DisplayNameFor(model => model.RecordName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoverArt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoverArt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExecutiveProducer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExecutiveProducer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Genre.GenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Genre.GenreName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecordId" />
        <input type="submit" value="Delete" class="btn delete-button" /> |
        <div class="cute-button"> <a asp-action="Index">Back to List</a></div>
       
    </form>
</div>
