@model Storefront.DATA.EF.Models.Record

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h3>@Model.RecordName</h3>
    <hr />
    <dl class="dl-horizontal cute-card">
        <dt>
            @Html.DisplayNameFor(model => model.RecordName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoverArt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoverArt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExecutiveProducer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExecutiveProducer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Genre.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
