@model IEnumerable<Storefront.DATA.EF.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>
    <a asp-action="Create">Create New</a>
</h3>
<table class="table cute-card ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverArt)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.ExecutiveProducer)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Details" asp-route-id="@item.RecordId">  @Html.DisplayFor(modelItem => item.RecordName)   </a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>

                    <img src="~/img/@item.CoverArt" class="img-fluid" height="250" width="250 "alt="@item.CoverArt">
                </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.ExecutiveProducer)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.Status.StatusId)
            </td>*@
           
        </tr>
}
    </tbody>
</table>
