@model Storefront.DATA.EF.Models.Genre

<div>
    <h1>@Model.GenreName</h1>
  
    <dl class="dl-horizontal cute-card">
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenreDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenreDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GenreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
